* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  font-family: "Open Sans", sans-serif;
}

a {
  /* reset */
  text-decoration: none;
  color: inherit;
}

ul {
  /* reset */
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header,
.main {
  text-align: center;
  padding: 30px 15px;
}

@media screen and (min-width: 1000px) {
  .header,
  .main {
    text-align: left;
    padding: 60px 70px;
  }
}

.title {
  font-family: "Poppins", sans-serif;
}

.img {
  display: block;
  width: 100%;
}

.button {
  display: inline-block;

  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
  color: hsl(0, 0%, 100%);

  padding: 0.8rem 4rem;
  border-radius: 3rem;

  background-color: hsl(322, 100%, 66%);
  box-shadow: 0 0 6px hsla(0, 0%, 41%, 0.5);
}

.button:hover {
  opacity: 0.5;
}

/* HEADER */
/* ****** */

.header-top {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  margin-bottom: 90px;
}

.header-top__logo {
  max-height: 1.1rem;
  width: auto;
}

@media screen and (min-width: 1000px) {
  .header-top__logo {
    max-height: 1.6rem;
    width: auto;
  }
}

.header-top__button {
  font-size: 0.7rem;
  color: hsl(0, 0%, 0%);

  padding: 0.4rem 1.5rem;
  background-color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 1000px) {
  .header-top__button {
    font-size: 0.9rem;
    padding: 0.8rem 4rem;
  }
}

/* INTRO */
/* ***** */

.header {
  background-image: url(../assets/images/bg-hero-mobile.svg);
  background-color: hsl(193, 100%, 96%);

  padding-bottom: 4rem;
}

@media screen and (min-width: 1000px) {
  .header {
    background-image: url(../assets/images/bg-hero-desktop.svg);
    margin-bottom: 4.5rem;
  }

  .header-main {
    display: flex;
    gap: 4rem;
  }

  .header-texts {
    max-width: 30rem;
  }
}

.header__title {
  font-size: 1.5rem;
  line-height: 1.5;
}

@media screen and (min-width: 1000px) {
  .header__title {
    font-size: 2.3rem;
  }
}

.header__txt {
  line-height: 1.3;

  margin-bottom: 2rem;
}

.header__button {
  margin-bottom: 3rem;
}

@media screen and (min-width: 1000px) {
  .header__button {
    padding: 1rem 4rem;
  }
}

/* CARDS */
/* ***** */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 10px 0 hsla(0, 0%, 85%, 0.5);

  padding: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1000px) {
  .card {
    flex-direction: row;
    justify-content: space-around;
  }

  .card--grow-together,
  .card--your-users {
    flex-direction: row-reverse;
  }

  .card__img {
    max-height: 20rem;
    width: auto;
  }

  .card__texts {
    max-width: 25rem;
  }
}

.card--build-community {
  padding: 2.5rem 0.5rem;

  position: relative;
  top: 130px;
}

@media screen and (min-width: 1000px) {
  .card--build-community {
    top: 150px;
    max-width: 750px;

    margin-left: auto;
    margin-right: auto;

    flex-direction: column;
  }
}

.card__title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1000px) {
  .card__title {
    font-size: 1.5rem;
  }
}

.card__title--build-community {
  font-size: 1rem;

  margin-bottom: 0;
}

@media screen and (min-width: 1000px) {
  .card__title--build-community {
    font-size: 1.5rem;
  }
}

.card__txt {
  font-size: 0.9rem;
  line-height: 1.4;
  color: hsl(208, 11%, 55%);
}

.card__button--build-community {
  font-size: 0.7rem;
  padding: 1rem 3.5rem;
}

@media screen and (min-width: 1000px) {
  .card__button--build-community {
    font-size: 0.9rem;
    padding: 1rem 4rem;
  }
}

/* FOOTER */
/* ****** */

.footer {
  background-color: hsl(192, 100%, 9%);
  color: hsl(0, 0%, 100%);

  padding: 120px 20px 40px;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (min-width: 1000px) {
  .footer-flex {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .footer-contact-group__list {
    max-width: 25rem;
  }

  .footer-nav-group {
    width: 15rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
  }
}

.footer__logo {
  height: 1.5rem;
  width: auto;

  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1000px) {
  .footer__logo {
    height: 2rem;
    padding-left: 5rem;
  }
}

.footer-contact-group__list-item,
.footer-nav-list__list-item {
  margin-bottom: 1.2rem;
  line-height: 1.4;
  position: relative;
}

.footer-contact-group__list-item {
  padding-left: 2rem;
}

.footer-contact-group__list-item::before {
  content: "";

  background-repeat: no-repeat;
  background-position: center;

  display: block;
  width: 1.2rem;
  height: 1.2rem;

  position: absolute;
  left: 0.2rem;
}

.footer-contact-group__list-item--map::before {
  background-image: url(../assets/images/icon-location.svg);
}

.footer-contact-group__list-item--tlf::before {
  background-image: url(../assets/images/icon-phone.svg);
}

.footer-contact-group__list-item--email::before {
  background-image: url(../assets/images/icon-email.svg);
}

.footer-nav-list__link:hover {
  border-bottom: 1px solid white;
}

.footer-ending-group-rrss {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

  margin-bottom: 1rem;
}

.footer-ending-group-rrss__rrss-container {
  width: 40px;
  height: 40px;
  padding: 8px;

  border: 2px solid white;
  border-radius: 50%;
}

.footer-ending-group-rrss__rrss-container:hover {
  border-color: hsl(322, 100%, 66%);
}

.footer-ending-group-rrss__img {
  width: 20px;
}

.footer-ending-group__copyright {
  font-size: 0.7rem;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .footer-ending-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
